@import 'src/scss/variable';
@import 'src/scss/mixin';

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(255, 174, 25);
}


[data-lg] {
    width: 1200px;
}

[data-md] {
    @include tablet () {
        width: 768px;
    }
}