@import-normalize;
@import url('https://fonts.cdnfonts.com/css/poppins');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

a[href] {
   text-decoration: none;
}

button {
   outline: none;
}

html {
   font-size: 62.5%;
}

:root {
   --primary-color: rgb(0, 0, 0);
   --secondary-color: #292929;
   --main-color: #f5c518;
}

ul {
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

body {
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
}

img {
   user-select: none;
}

a {
   display: block;
   color: white;

   &:hover {
      color: unset;
   }
}

// override bootstrap
@media (min-width: 1200px) {

   .container-lg,
   .container-md,
   .container-sm,
   .container-xl {
      max-width: 1240px;
   }
}


.l-2 {
   padding: 0 7.5px;
   flex: 0 0 auto;
   width: 16.66666667%;
}

.l-3 {
   padding: 0 7.5px;
   flex: 0 0 auto;
   width: 25%;
}

.l-4 {
   padding: 0 7.5px;
   flex: 0 0 auto;
   width: 33.33333333%;
}

.l-5 {
   padding: 0 7.5px;
   flex: 0 0 auto;
   width: 20%;
}

.l-6 {
   padding: 0 7.5px;
   flex: 0 0 auto;
   width: 50% !important;
}

.l-12 {
   padding: 0 7.5px;
   flex: 0 0 auto;
   width: 100%;
}