.form {
    color: white;
    margin-top: 36px;

    h2 {
        margin-bottom: 10px;
        font-size: 2.4rem;
        font-weight: 600;
    }

    p {
        margin-bottom: 40px;
        font-size: 1.4rem;
    }
}