@import 'src/scss/variable';
@import 'src/scss/mixin';


.container {
    position: relative;

    .banner {
        background-position: top;
        background-size: cover;
        padding-top: 50%
    }

    .overlay {
        @include size(100%);
        background: linear-gradient(0deg,var(--primary-color) 10%, rgba(26, 25, 25, 0.103));
        position: absolute;
        z-index: 1;
    }
}