@import 'src/scss/variable';
@import 'src/scss/mixin';

.container {
    background-color: var( --secondary-color);
}
.content {
    position: relative;
    height: $header-height;
    @include dflex(row, null, center);
    width: 100%;
}

.logo {
    margin-right: 4px;
}

.menuButton {
    font-size: 1.4rem;
    color: white;
    margin-left: 4px;

    .menuIcon {
        font-size: 2.2rem;
    }
}



.proLogo {
    color: white;
    position: relative;
    height: 36px;
}




.watchList, .signIn, .languages {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    height: 36px;
}

.signIn {
    &:hover {
        color: white;
    }
}


