@mixin dflex($direction : null, $content: null, $items: null) {
    display: flex;
    align-items: $items;
    justify-content: $content;
}

@mixin radius($topLeft, $topRight : $topLeft, $bottomLeft: $topLeft, $bottomRight: $topLeft) {
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-left-radius: $bottomLeft;
    border-bottom-right-radius: $bottomRight;
}

@mixin after($top, $left : null, $bottom: null, $right : null) {
    position: absolute;
    content : '';
    display: block;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    @content;
}

@mixin size($width, $height : $width) {
    width: $width;
    height: $height;
}

@mixin webkitLine($line) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
    overflow: hidden;
    text-overflow: ellipsis;
}