.container {
    color: white;
}

.loadMoreBtn {
    width: 100%;
    background-color: var(--main-color);
    font-size: 2rem;
    color: white;
    margin-top: 16px;
    padding: 10px;
    font-weight: 700;

    &:hover {
        background-color: rgb(180, 180, 55);
    }
}

.cardList {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 20px;
}
